.contact {
  padding: 2rem 0 3rem;
  text-align: center;
  color: rgb(57, 19, 19);
}


.contact h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #0f172a;
}

.contact p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #0f172a;
}

.contact a {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #3502aa; 
  transition: color 0.3s, transform 0.3s;
}

.contact a:hover {
  color: #e57b30;;
  transform: scale(1.05); 
}
