* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #7094e3, #56dfcf);
  color: #0f172a;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}